/* line 1, C:/wamp64/www/ecoshop/style.scss */
a {
  text-decoration: none;
  color: black; }

/* line 6, C:/wamp64/www/ecoshop/style.scss */
h1 {
  margin: 0; }

/* line 10, C:/wamp64/www/ecoshop/style.scss */
hr {
  width: 100%; }

/* line 13, C:/wamp64/www/ecoshop/style.scss */
body {
  background-image: url(img/bg.png);
  display: flex;
  justify-content: center; }
  /* line 18, C:/wamp64/www/ecoshop/style.scss */
  body .wrapper {
    display: flex;
    width: 80%;
    background-color: #F0F3BD;
    flex-direction: column; }
    /* line 26, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper header #headerCont {
      display: flex;
      justify-content: space-between;
      padding: 0.5em; }
      /* line 33, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper header #headerCont #headerCart a {
        font-family: 'Open Sans', sans-serif; }
    /* line 38, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper header img {
      width: 100%; }
    /* line 42, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper header nav {
      display: flex;
      justify-content: space-around; }
      /* line 46, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper header nav a {
        font-family: 'Open Sans', sans-serif; }
    /* line 51, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper main {
      display: flex;
      flex-direction: row;
      align-items: center; }
      /* line 56, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper main #mainCont1 {
        width: 43%; }
        /* line 59, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper main #mainCont1 p {
          margin-left: 10px; }
      /* line 63, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper main #mainCont2 {
        width: 13%;
        text-align: center; }
        /* line 69, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper main #mainCont2 h1 {
          margin: 0;
          color: #6B9814; }
      /* line 74, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper main #mainCont3 {
        width: 43%; }
        /* line 77, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper main #mainCont3 p {
          margin-left: 10px; }
    /* line 85, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper section .pHead {
      font-weight: bold;
      font-size: 1.5em;
      text-align: center; }
    /* line 91, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper section .productCont {
      display: flex;
      justify-content: space-around; }
      /* line 95, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper section .productCont .products {
        flex-basis: 32%;
        background-color: white;
        margin-bottom: 10px; }
        /* line 100, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper section .productCont .products img {
          width: 100%; }
        /* line 104, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper section .productCont .products .pHead2 {
          font-weight: bold;
          font-size: 1.2em; }
        /* line 108, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper section .productCont .products p {
          margin: 5px; }
        /* line 111, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper section .productCont .products .priceCont {
          width: 100%;
          background-color: #6B9814;
          text-align: center; }
          /* line 115, C:/wamp64/www/ecoshop/style.scss */
          body .wrapper section .productCont .products .priceCont P {
            font-size: 1.8em;
            color: white; }
        /* line 120, C:/wamp64/www/ecoshop/style.scss */
        body .wrapper section .productCont .products .buttonCont {
          display: flex;
          justify-content: space-around; }
          /* line 124, C:/wamp64/www/ecoshop/style.scss */
          body .wrapper section .productCont .products .buttonCont button {
            background-color: #6B9814;
            color: white;
            width: 8em;
            border-radius: 2px;
            border: none;
            margin-bottom: 10px;
            height: 2em; }
    /* line 137, C:/wamp64/www/ecoshop/style.scss */
    body .wrapper footer {
      background-color: white;
      display: flex;
      justify-content: space-around; }
      /* line 142, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper footer .footerCont {
        display: flex;
        flex-direction: column;
        margin: 10px; }
      /* line 148, C:/wamp64/www/ecoshop/style.scss */
      body .wrapper footer .footerNewsletter {
        display: flex;
        flex-direction: column; }
  /* line 154, C:/wamp64/www/ecoshop/style.scss */
  body .footerBottom {
    width: 100%;
    background-color: white;
    text-align: center; }

/*# sourceMappingURL=style.css.map */