a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

hr {
  width: 100%;
}
body {
  background-image: url(img/bg.png);
  display: flex;
  justify-content: center;
  
  #wrapper {
    display: flex;
    width:  80%;
    background-color: #F0F3BD;
    flex-direction: column;
    header{
     
      
      #headerCont {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        
        #headerCart {
          
          a {
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
      img {
        width: 100%;
      }
      
      nav {
        display: flex;
        justify-content: space-around;
        
        a {
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
    main {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      #mainCont1 {
        width: 43%;
        
        p {
          margin-left: 10px;
        }
      }
      #mainCont2 {
        width: 13%;
        text-align: center;
        img {
          
        }
        h1 {
          margin: 0;
          color:#6B9814; 
        }
      }
      #mainCont3 {
        width: 43%;
        
        p {
          margin-left: 10px;
        }
      }
    }
    section {
      
      text-align: center;
      
      p {
          font-weight: bold;
      }
      .productCont {
        display: flex;
        justify-content: space-around;
        
        .products{
          flex-basis: 32%;
          background-color: white;
          
          img{
            width: 100%;
          }
        }
      }
    }
  }
}


