a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

hr {
  width: 100%;
}
body {
  background-image: url(img/bg.png);
  display: flex;
  justify-content: center;
  
  .wrapper {
    display: flex;
    width:  80%;
    background-color: #F0F3BD;
    flex-direction: column;
    
    header{
     
      #headerCont {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        
        #headerCart {
          
          a {
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
      img {
        width: 100%;
        margin-bottom: 0;
      }
      
      nav {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 0;
        
        a {
          font-family: 'Open Sans', sans-serif;
          
        }
        a:hover {
          font-weight: bold;
        }
      }
    }
    main {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      #opretCont {
        display: flex;
        flex-direction: column;
        
        #opretToggle {
          background-color: #6B9814;
          color: white;
          width: 100%;
          border-radius: 2px;
          border: none;
          margin: 10px;
          height: 2em;
        }
        #opret {
          margin-bottom: 2em;
          
          form {
            
            .opretForm {
              margin: 20px;
              
              textarea {
                display: block;
                margin: 1em 0em;
                border-radius: 2px;
                padding-left: 5px;
                
              }
              input {
                display: block;
                margin: 1em 0em;
                border-radius: 2px;
                padding: 10px;
                border: none;
                width: 100%;
              }
              .opretBtn {
                background-color: #6B9814;
                color: white;
                width: 100%;
                border-radius: 2px;
                border: none;
                margin-bottom: 10px;
                height: 100%;
                padding: 10px;
              }
            }
          }
        }
      }
      .mainCont {
        width: 43%;
        
        p {
          margin-left: 10px;
        }
      }
      #mainCont2 {
        width: 13%;
        text-align: center;
        img {
          
        }
        h1 {
          margin: 0;
          color:#6B9814; 
        }
      }
    }
  }
    section {
      
      
      .pHead {
        font-weight: bold;
        font-size: 1.5em;  
        text-align: center;
      }
      
      .productCont {
        display: flex;
        justify-content: space-around;
    
        .products{
          flex-basis: 32%;
          background-color: white;
          margin-bottom: 10px;
          
          img{
            width: 100%;
          }
          
          .pHead2 {
            font-weight: bold;
            font-size: 1.2em;
          }
          p {
            margin: 5px;
          }
          .priceCont {
            width: 100%;
            background-color: #6B9814;
            text-align: center;
            P {
              font-size: 1.8em;
              color: white;
            }
          }
          .buttonCont {
            display: flex;
            justify-content: space-around;
            
            button {
            background-color: #6B9814;
            color: white;
            width: 8em;
            border-radius: 2px;
            border: none;
            margin-bottom: 10px;
            height: 2em;
            }
          }
        }
      }
    }
    footer {
      background-color: white;
      display: flex;
      justify-content: space-around;
    
      .footerCont {
        display: flex;
        flex-direction: column;
        margin: 10px;
      
      }
      .footerNewsletter {
        display: flex;
        flex-direction: column;
      }
    } 
  }
  .footerBottom {
    width: 100%;
    background-color: white;
    text-align: center;
  }



